/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}
html{
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}
/* inter-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v12-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-700 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v12-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-900 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/inter-v12-cyrillic_latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  body{
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #353F4A;
    background: url(../img/press.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    backdrop-filter: grayscale(30%);
    backdrop-filter: brightness(80%);
    cursor: url('/img/cursor_6.cur'), auto;
  }
  .wrapper{
    max-width: 1060px;
    margin: 0 auto;
    overflow: hidden;
    flex-direction: column;
  }
  /*header styles*/
  .header{
    top: 0;
    left: 0;
    width: 100%;
  }
  .header_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
  }

  .header_list{
    display: flex;
    flex-wrap: wrap;
  }

  .header_item{
    margin-right: 40px;
  }

  .header_item:last-child{
    margin-right: 0;
  }
  .header_link{
    font-size: 18px;
    line-height: 24px;
    color: #f5f9fd;
    text-decoration: none;
    font-weight: 900;
  }
  .header_link:hover, .header_link:focus, .header_link:active{
    opacity: 75%;
  }

  /*intro styles*/
  .intro{
    height: 100vh;
    padding-top: 50px;
  }
  .intro_title{
    font-size: 47px;
    font-style: normal;
    font-weight: 400;
    line-height: 57.6px;
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 30px;
    
  }

  .intro_nav{
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
  }

  .intro_list{
    display: flex;
    flex-wrap: wrap;
  }


  .intro_subtitle{
    width: 200px;
    padding: 12px 20px;
    color: aliceblue;
    font-size: 14px;
    margin-right: 40px;
    text-align: center;
    vertical-align: middle;
  }

  .container {
  overflow: hidden;
  }

  .filterDiv {
  float: center;
  background-color: #0a0a0a;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none; /* Скрыто по умолчанию */
  }

  .show {
  display: block;
  width: 930px;
  height: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
  }

  .intro_subtitle {
  background-color: #353F4A;
  }
  .intro_subtitle:first-child{
    margin-left: 100px;
  }
  .intro_subtitle:active,.intro_subtitle:hover,.intro_subtitle:focus {
  background-color: #666;
  color: white;
  }
  .PSHR{
  width: 930px;
  height: 500px;
  color: aliceblue;
  }
  .PSHR3{
  width: 930px;
  height: 500px;
  color: aliceblue;
  }
  .PSHR2{
  width: 930px;
  height: 500px;
  color: aliceblue;
  }
  .PSHP{
  width: 930px;
  height: 500px;
  color: aliceblue;
  }
  .PSHP2{
  width: 930px;
  height: 500px;
  color: aliceblue;
  }
  .PSHP3{
  width: 930px;
  height: 500px;
  color: aliceblue;
  }
  .Other{
  width: 930px;
  height: 500px;
  color: aliceblue;
  }
  .Other2{
  width: 930px;
  height: 500px;
  color: aliceblue;
  }
  .Other3{
  width: 930px;
  height: 500px;
  color: aliceblue;
  }
  .menu_link{
  font-size: 40px;
  line-height: 24px;
  color: #f5f9fd;
  text-decoration: none;
  font-weight: 900;
  text-align: center;
  vertical-align: middle;
  }

  .menu_link:hover, .menu_link:focus, .menu_linkk:active{
  opacity: 75%;
  }
  /*Подвал*/
  .main{
    min-height: 100%;
    margin-bottom: 180px;
  }
  .footer{
  width: 100%;
  height: 400px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #1F282F 100%), rgba(31, 40, 47, 0.50);
  padding: 96px 100px 110px 100px;
  }
  .footer_wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  }
  .footer_main_info{
    font-size: 24px;
  }
  .footer_info{
    color: white;
    font-size: 18px;
    line-height: 50px;
  }
  .footer_list{
    flex-wrap: wrap;
  }
  .footer_main_info2{
    font-size: 24px;
    margin-left: 350px;
  }
  .footer_list2{
    margin-left: 380px;
    flex-wrap: wrap;
  }
  .footer_main_info3{
    font-size: 24px;
    margin-left: 400px;
  }
  .footer_list3{
    margin-left: 380px;
    flex-wrap: wrap;
  }
 
  .footer_link{
    color: #f5f9fd;
    text-decoration: none;
  }
  .footer_link:hover, .footer_link:focus, .footer_link:active{
    opacity: 75%;
    }
  .footer3_main{
    font-size: 24px;
    margin-left: 340px;
  }
  .footer4_main{
    font-size: 14px;
    margin-left: 330px;
    line-height: 24px;
    color: #f5f9fd;
    text-decoration: none;
  }
  .footer_info2{
    color: white;
    line-height: 50px;
  }
  .header_logo-link{
    filter: drop-shadow(3px 3px 10px rgb(17, 25, 102));

  }


  .text{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #1F282F 100%), rgba(31, 40, 47, 0.50);
  padding: 20px;
  max-width: 1060px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
  font-family: 'Inter';
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: aliceblue;
  }